body {
  padding: 0;
  border: 0;
  margin: 0;
}

body ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main_text1, .nav_logo_text, .nav_menu_links, .slider_inform_text1, .content_about_title, .footer_text1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #010101;
}

.main_text2, .slider_inform_text2, .content_about_text, .content_cube_cube1_text_text1, .footer_text2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: regular;
  color: #2e2e2e;
}

.main_text3, .slider_inform_text3, .content_cube_cube1_text_text2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  font-weight: regular;
  color: #47493e;
}

.container {
  max-width: 930px;
  margin: 0 auto;
  overflow: hidden;
}

#body {
  font: HelveticaNeue, sans-serif;
  background-color: #efefef;
}

.header {
  background-color: #fcdb00;
}

.nav {
  padding: 55px 0;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}

.nav_logo {
  display: flex;
  align-items: center;
}

.nav_logo_text {
  margin-left: 12px;
}

.nav_menu {
  display: flex;
  align-items: center;
  flex-flow: wrap;
}

.nav_menu_links {
  font-size: 1.5rem;
}

.nav_menu a {
  margin-left: 70px;
}

.baner {
  background-color: #fcdb00;
}

.slider {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-flow: wrap;
  padding-bottom: 70px;
}

.slider_inform {
  display: flex;
  flex-direction: column;
}

.slider_inform_text1 {
  padding-bottom: 27px;
}

.slider_inform_text2 {
  padding-bottom: 27px;
}

.slider_inform_text3 {
  padding-bottom: 45px;
}

.slider_inform img {
  margin-right: 39px;
}

.content {
  background-color: #efefef;
}

.content_about {
  display: flex;
  flex-direction: column;
  padding: 117px 0 88px;
  align-items: center;
  text-align: center;
}

.content_cube {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  padding-bottom: 165px;
}

.content_cube_cube1 {
  display: flex;
  flex-direction: row;
  padding-top: 80px;
}

.content_cube_cube1_png {
  display: flex;
  flex-direction: column;
}

.content_cube_cube1_text {
  display: flex;
  flex-direction: column;
  padding-left: 29px;
  text-align: left;
}

.content_cube_cube1_text_text1 {
  color: #010101;
}

.content_cube_cube1_text_text2 {
  padding-top: 15px;
}

.footer {
  background-color: #010101;
  text-align: center;
}

.footer_text1 {
  color: #fcdb00;
  padding-top: 90px;
}

.footer_text2 {
  color: #898989;
  padding-top: 24px;
}

.footer_send {
  padding-top: 45px;
}

.footer_send_field input {
  display: block;
  font-size: 14px;
  width: 580px;
  margin: 10px auto;
  padding: 15px 8px 15px 20px;
  border-radius: 5px;
  border: 1px solid #efefef;
}
