body{
	padding: 0;
	border: 0;
	margin: 0;
		
	ul{
		list-style: none;
	}
}
a{
	text-decoration: none;
}
$font-stack: HelveticaNeue, sans-serif;
$primary-color: #fcdb00;
$bg-color: #efefef;
$black-color: #010101;
	
.container{
	max-width: 930px;
	margin: 0 auto;
}
#body {
	font: $font-stack;
	background-color: $bg-color;
}
.header{
	background-color: $primary-color;
}
.nav{
	padding: 55px 0;
	display: flex;
	justify-content: space-between;
	&_logo{
		display: flex;
		align-items: center;
		&_text{
			margin-left: 12px;
			font-family: 'PT Sans', sans-serif;
			font-size: 2rem;
			font-weight: bold;
		}
	}
	&_menu{
		display: flex;
		align-items: center;
		flex-basis: auto;
		&_links{
			font-family: 'PT Sans', sans-serif;
			font-size: 1.5rem;
			font-weight: bold;
			color: $black-color;
		}
		a{
			margin-left: 70px;
		}
	}
}
