body{
	padding: 0;
	border: 0;
	margin: 0;
		
	ul{
		list-style: none;
	}
}
a{
	text-decoration: none;
}
$font-stack: HelveticaNeue, sans-serif;
$primary-color: #fcdb00;
$bg-color: #efefef;
$black-color: #010101;
$grey_color: #47493e;
$grey_color1: #898989;
$lightgrey_color: #2e2e2e;
.main_text1{
	font-family: 'PT Sans', sans-serif;
	font-size: 2rem;
	font-weight: bold;
	color: $black-color;
}
.main_text2{
	font-family: 'PT Sans', sans-serif;
	font-size: 1.4rem;
	font-weight: regular;
	color: $lightgrey_color;
}
.main_text3{
	font-family: 'PT Sans', sans-serif;
	font-size: 1rem;
	font-weight: regular;
	color: $grey_color;
}
.container{
	max-width: 930px;
	margin: 0 auto;
	overflow: hidden;
}
#body {
	font: $font-stack;
	background-color: $bg-color;
}
.header{
	background-color: $primary-color;
//	overflow: hidden;
//	position: fixed; 
//	top: 0; 
//	width: 100%; 
}
.nav{
	padding: 55px 0;
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
	&_logo{
		display: flex;
		align-items: center;
		&_text{
			@extend.main_text1;
			margin-left: 12px;
		}
	}
	&_menu{
		display: flex;
		align-items: center;
		flex-flow: wrap;
		&_links{
			@extend .main_text1;
			font-size: 1.5rem;
		}
		a{
			margin-left: 70px;
		}
	}
}
.baner{
	background-color: $primary-color;
}
.slider{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-flow: wrap;
	padding-bottom: 70px;
	&_inform{
		display: flex;
		flex-direction: column;
		&_text1{
			@extend .main_text1;
			padding-bottom: 27px;
		}
		&_text2{
			@extend .main_text2;
			padding-bottom: 27px;
		}
		&_text3{
			@extend .main_text3;
			padding-bottom: 45px;
		}
		img{
			margin-right: 39px;
		}
	}
}
.content{
	background-color: $bg-color;
	&_about{
		display: flex;
		flex-direction: column;
		padding: 117px 0 88px;
		align-items: center;
		text-align: center;
		&_title{
			@extend .main_text1;
		}
		&_text{
			@extend .main_text2;
		}
	}
	&_cube{
		display: flex;
		flex-direction: row;
		flex-flow: wrap;
		justify-content: space-between;
		padding-bottom: 165px;
		&_cube1{
			display: flex;
			flex-direction: row;
			padding-top: 80px;
			&_png{
				display: flex;
				flex-direction: column;
			}
			&_text{
				display: flex;
				flex-direction: column;
				padding-left: 29px;
				text-align: left;
				&_text1{
					@extend .main_text2;
					color: $black-color;
				}
				&_text2{
					@extend .main_text3;
					padding-top: 15px;
				}
			}
		}
	}
}
.footer{
	background-color: $black-color;
	text-align: center;
	&_text1{
		@extend .main_text1;
		color: $primary-color;
		padding-top: 90px;
	}
	&_text2{
		@extend .main_text2;
		color: $grey_color1;
		padding-top: 24px;
	}
	&_send{
		padding-top: 45px;
		&_field{
			input{
				display: block;
				font-size: 14px;
				width:580px;
				margin: 10px auto;
				padding: 15px 8px 15px 20px;
				border-radius: 5px;
				border: 1px solid $bg-color;
			}
		}
	}
}
